
# This is a template that will be pre-processed by `envsubst` command to inject environment variables into templates like ${...}.
# Eventually this will be served as a nginx.conf file.

# Reference: https://www.cyberciti.biz/tips/linux-unix-bsd-nginx-webserver-security.html

load_module modules/ngx_http_js_module.so;

events {
    worker_connections 1024;
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    js_path "/etc/nginx/njs/";
    js_import scripts from scripts.js;

    ### Directive describes the zone, in which the session states are stored i.e. store in slimits. ###
    ### 1m can handle 32000 sessions with 32 bytes/session, set to 5m x 32000 session ###
    limit_conn_zone $binary_remote_addr zone=addr:5m;

    server {
        listen 80;
        server_name ${SERVER_NAME};

        # Enable detailed logging to a mounted volume
        error_log /var/log/nginx/error.log debug;
        access_log /var/log/nginx/access.log;

        ## Start: Size Limits & Buffer Overflows ##
        client_body_buffer_size  1K;
        client_header_buffer_size 1k;
        client_max_body_size 1k;
        large_client_header_buffers 2 1k;
        ## END: Size Limits & Buffer Overflows ##

        ## Start: Timeouts ##
        client_body_timeout   10;
        client_header_timeout 10;
        keepalive_timeout     5 5;
        send_timeout          10;
        ## End: Timeouts ##

        # Only allow requests with allowed hosts
        if ($host !~ ^(${ALLOWED_HOSTS})$ ) {
            return 403;
        }
        ## Block download agents ##
        if ($http_user_agent ~* LWP::Simple|BBBike|wget) {
            return 403;
        }
        ## Block some robots ##
        if ($http_user_agent ~* msnbot|scrapbot) {
            return 403;
        }
        ## Deny certain Referers ###
        if ($http_referer ~* (babes|forsale|girl|jewelry|love|nudit|organic|poker|porn|sex|teen)) {
            return 403;
        }

        #22 : Avoid clickjacking
        add_header X-Frame-Options SAMEORIGIN;
        #23 : Disable content-type sniffing on some browsers
        add_header X-Content-Type-Options nosniff;
        #23 : Enable the Cross-site scripting (XSS) filter
        add_header X-XSS-Protection "1; mode=block";

        location / {
            root /usr/share/nginx/html;
            index index.html index.htm;
            try_files $uri $uri/ /index.html;
        }

        location /graphql {
            # Only allow requests with the same origin
            if ($http_origin != "${ALLOWED_ORIGIN}") {
                return 403;
            }
            # Allow only GET and POST methods
            if ($request_method !~ ^(GET|POST)$) {
                return 405; 
            }

            # Set CORS headers for valid requests
            add_header 'Access-Control-Allow-Origin' "${ALLOWED_ORIGIN}" always;
            add_header 'Access-Control-Allow-Methods' 'GET, POST' always;
            add_header 'Access-Control-Allow-Credentials' 'true' always;
            add_header 'Access-Control-Allow-Headers' "${ALLOWED_HEADERS}";

            # Handle preflight OPTIONS requests
            if ($request_method = OPTIONS) {
                add_header 'Content-Length' 0;
                add_header 'Content-Type' 'text/plain charset=UTF-8';
                return 204;
            }

            # Proxy to the upstream server
            proxy_pass http://graphql_upstream/graphql;
            proxy_http_version 1.1;
            # Pass WebSocket headers
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection $http_connection;
            # Pass other client headers
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
            # Set API key header
            proxy_set_header X-API-Key ${GRAPHQL_API_KEY};
            # Add the refresh token header
            proxy_set_header X-Refresh-Token $cookie_refresh_token;

            # Set refresh token cookie in response
            # Add "Secure" for HTTPs
            add_header Set-Cookie "refresh_token=$upstream_http_x_refresh_token; SameSite=Strict; HttpOnly";

            if ($http_upgrade != "websocket") {
                js_body_filter scripts.stripRefreshTokenInResponseBody;
            }
        }
    }

    upstream graphql_upstream {
        server graphql:4000;
    }
}